
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #b3b3b3;
    background-repeat: no-repeat
}

.d-flex {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.card {
    padding: 40px 35px 45px 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px #7a7a7a;
}

.border-line {
    border-right: 1px solid #BDBDBD
}

.text-sm {
    font-size: 13px
}

.text-md {
    font-size: 18px
}

.image {
    width: 60px;
    height: 30px
}

::placeholder {
    color: grey;
    opacity: 1
}

:-ms-input-placeholder {
    color: grey
}

::-ms-input-placeholder {
    color: grey
}

input {
    padding: 2px 0px;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    margin-top: 2px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #253B80;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.btn-blue {
    background-color: #253B80;
    color: #fff;
    padding: 8px 25px;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    border: 2px solid #fff
}

.btn-blue:hover {
    box-shadow: 0 0 0 2px #253B80;
    color : #fff;
}

.btn-blue:focus {
    box-shadow: 0 0 0 2px #253B80 !important
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #2997D8
}

@media screen and (max-width: 575px) {
    .border-line {
        border-right: none;
        border-bottom: 1px solid #EEEEEE
    }
}

.number-color {
    color: #2997D8!important;
}

#overlay-container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #212529a1;
    z-index: 2;
}