<div class="p-4">
        <h1>Notifiche</h1>
    <!--<button (click)="pushSubscription()" class="btn btn-sm btn-success mb-2" style="border: 1px solid; margin-left: 4px" >Subscribe</button>
        <button (click)="unsubscribeNotifications()" class="btn btn-sm btn-success mb-2" style="border: 1px solid; margin-left: 4px">Unsubscribe</button> -->
        <div *ngFor="let notification of notifications">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 90%">Notifica Volo</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div ng-app>
                                <p>Inserisci il tuo nome: <input type="text" ng-model="name"></p>
                                        <p>Hello!</p>
                            </div>
                        </td>
                        <td>{{notification.username}}</td> 
                        <td style="white-space: nowrap">
                            <button (click)="deleteNotification(notification._id)" class="btn btn-sm btn-danger btn-delete-user" >
                                <span *ngIf="notification.isDeleting" class="spinner-border spinner-border-sm"></span>
                                <span *ngIf="!notification.isDeleting">Elimina</span>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="!notifications">
                        <td colspan="4" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

